{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>PROJECT</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static "web/dashboard.css" %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">PROJECT</a >
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{#    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/accounts/logout/">{{ request.user.username }}, Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        {% include "web/sidebarMenu.html" %}
        <!-- web main -->
        {% block right_content %}{% endblock %}
    </div>
</div>


<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script>window.jQuery || document.write('<script src="{% static "jquery/dist/jquery.min.js"%}"><\/script>')</script>
<script src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>


<script src="{% static "feather-icons/dist/feather.min.js" %}"></script>

{% block extra_js %}
{% endblock %}

{% block extra_js_static_file %}
{% endblock %}
<script>
    (function () {
        'use strict'
        feather.replace()
    })();
</script>

</body>
</html>
